# Local .terraform directories
**/.terraform/*


*.tfplan
.terraform.lock.hcl
# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Ignore any .tfvars files that are generated automatically for each Terraform run. Most
# .tfvars files are managed as part of configuration and so should be included in
# version control.
#
# example.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
#
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*
VM_PUBLIC_IP/.terraform.lock.hcl
VM_PUBLIC_IP/variabels.tf
project_no_lb/outputs.tf
modules/vm/variables.tf
project_no_lb/backend.tf
main_project/secrets.tf
main_project/backend.tf
main_project/backend.tf
main_project/backend.tf
main_project/outputs.tf
backend.tf
secrets.tf
